*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    color: black;
}
.loader{
    width: 100%;
    /* Needs to be ajusted when add more sections to main page */
    height:300%;
    background-color: rgb(26, 26, 26);
    position: absolute;
    /* visibility: visible; */
    opacity: 1;
    
    transition-duration: 1s;
}
.loaderProject{
    width: 100%;
    height:100%;
    background-color: rgb(26, 26, 26);
    position: absolute;
    visibility: visible;
    z-index: 1;
}
section{
    scroll-snap-align: center;
}
a {
    text-decoration: none;
}
.Home{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(39, 39, 39);
    background-position: center;
    background-size: cover;
    position: relative;

}
.container{
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.fotoNelson{
    width: 900px;
    position: absolute;
    display: block;
    top: 20%;
    left: 40%;
}

nav{
    background-color: rgb(39, 39, 39);
}
.LogoNS{
    position: fixed;
    display: block;
    justify-content: left;
    padding-top: 0%;
}
.nav-links{
    background-color: rgb(39, 39, 39);
    position: fixed;
    top: 0%;
    z-index: 1;
    text-align: center;
    width: 100%;
    justify-content: center;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul li a{
    color: rgb(182, 182, 182);
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(7, 175, 176);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.textBox{
    width: 40%;
    color: rgb(184, 184, 184);
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-90%, -50%);
    text-align: left;
}
.textBox h1{
    font-size: 48px;
    padding-left: 2%;
    font-weight: 800;
}
.textBox h2{
    font-size: 24px;
    font-weight: 600;
}
.BlueText{
    color: rgb(7, 175, 176);
}

/*About*/
.About{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 5%;

    min-height: 100vh;
    background-color: rgb(26, 26, 26);
    background-position: center;
    background-size: cover;
    position: relative;
}
h1{
    font-size: 62px;
    font-weight: 600;
    color: rgb(184, 184, 184);
}
p{
    color: rgb(184, 184, 184);
    
}
h3{
    color: rgb(7, 175, 176);
}
.Row{

    margin: 30px 30px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.Column{
    flex-basis: 31%;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    padding: 20px 12px;
    margin: 30px 30px;
    box-sizing: border-box;
    transition: 0.3s;
}
.Column p{
    text-align: left;
    padding-left: 5%;
}
.Column:hover{
    box-shadow: 0 0 20px 0px rgba(7, 175, 176, 0.6);
}



/*Projects*/
.Project{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 5%;

    min-height: 100vh;
    background-color: rgb(39, 39, 39);
    background-position: center;
    background-size: cover;
    position: relative;

    display: flex;
    flex-direction: column;
}
.Project h1{
    font-size: 42px;
}
.Logos{
    width: 70%;
    margin: auto;
    display: block;
}

/*ProjectsInfo*/
.DisplayGame{
    width: 100%;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    
    background-position: center;
    background-size: cover;
    position: absolute;

}
.titleProj{
    color: rgb(7, 175, 176);
    height: 25vh;
    top: 10vh;
    position: relative;
}
.DisplayGame h1{
    width: 100%;
    font-size: 68px;
    text-align: center;
    -webkit-text-stroke: 2px black;
}
.exlogo{
    width: 50vh;
    position: relative;
    max-width: 100%;
}
.constructlogo{
    width: 70vh;
    top: 7vh;
    align-self: center;
    position: relative;
    max-width: 100%;
}
.rulersLogo{
    width: 50vh;
    top: 4vh;
    align-self: center;
    position: relative;
    max-width: 100%;
}
.ProjectDesc{
    background-color: rgba(25, 25, 25, 1);
    border-radius: 10px;
    box-shadow: 0 0 50px 0px rgb(0, 0, 0);
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgb(255, 255, 255);
    height: fit-content;

    padding: 20px 12px;
    margin: 30px 30px;

    transition: 0.3s;
}
.ProjectDesc p{
    font-size: 18px;
    color: rgb(224, 224, 224);
    font-weight: 400;
    text-align: left;
    text-indent: 50px;
}
.SpecSheet{
    border-radius: 10px;
    padding: 20px 12px;

    width: 30%;
    height: 50vh;

    left: 65%;
    top: 10vh;
    position: absolute;
}
.SpecSheet img{
    width: 100%;
    
}
.slider{
    width: 50%;
    z-index: 1;
    padding: 20px 12px;
    margin: 20px 50px;

}
.flexProjnfo{
    margin: 40px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.slider img{
    width: 100%;
    border-radius: 10px;
}

.slider iframe{
    width: 100%;
    height: 45vh;
}
.next_Arrow {
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    top: 45%;
    left: 101%;
    position: absolute;
    z-index: 2;

    outline-width: 3px;
    outline-style: solid;
    outline-color: rgb(7, 226, 226);

    border-radius: 50%;
    background-color: rgba(7, 175, 176, 0);
    line-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
}

.prev_Arrow {
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    top: 45%;
    right: 101%;
    position: absolute;

    z-index: 2;
    border-radius: 50%;
    background-color: rgba(7, 175, 176, 0);

    outline-width: 3px;
    outline-style: solid;
    outline-color: rgb(7, 226, 226);
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 0.3s;
}

.prev_Arrow:hover{
    background-color: rgba(7, 175, 176, 1);
    outline-color: rgba(7, 175, 176, 0);
}
.next_Arrow:hover{
    background-color: rgba(7, 175, 176, 1);
    outline-color: rgba(7, 175, 176, 0);
}


.projectBack{
    width: fit-content;
    color: rgb(25, 25, 25);
    -webkit-text-stroke: 2px white;
    font-size: 15vh;
    top: 7%;
    right: 3%;
    text-align: center;
    position: absolute;
    z-index: 1;
    transition-duration: 0.5s;
}

.projectBack:hover{
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px black;
}

.ColumnProject{
    flex-basis: 31%;
    max-height: 30vh;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    padding: 20px 12px;
    margin: 10px 10px;
    box-sizing: border-box;
    transition: 0.3s;
}

.RowProjects{
    margin: 10px 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 26, 26);
    box-sizing: border-box;
    border-radius: 10px;
}

.ColumnProject:hover{
    box-shadow: 0 0 20px 0px rgba(7, 175, 176, 0.6);
}

/*Contact*/
.Contact{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 5%;

    min-height: 100vh;
    background-color: rgb(26, 26, 26);
    background-position: center;
    background-size: cover;
    position: relative;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    width: 40%;
    left: 10vh;
    top: 20vh;
    position: relative;

}

.contact-col div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.contact-col div p{
    padding: 0;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    background-color: rgb(41, 41, 41);
    border: 3px solid rgba(7, 175, 176, 1);
    color: rgb(196, 196, 196);
    
}

.contact-col button{
    background: none;
    border: 2px solid rgba(7, 175, 176, 1);
    height: 5vh;
    width: 30vh;
    color: rgb(179, 179, 179);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition-duration: 0.5s;
}
.contact-col button:hover{
    background-color: rgba(7, 175, 176, 1);
    border: 0px solid rgba(7, 175, 176, 1);
    color: rgb(0, 0, 0);
    font-size: 25px;
}

@media(max-width: 720px){
    .LogoNS img{
        width: 5vh;
    }
    .nav-links{
        text-align: right;
        justify-content: right;
    
    }
    .nav-links ul li{
        padding: 20px 15px;
    }
    .nav-links ul li a{
        font-size: 15px;
    }
    .fotoNelson{
        width: 50vh;
        position: absolute;
        display: block;
        top: 10%;
        left: 0%;
    }
    .textBox h1{
        font-size: 40px;

    }
    .textBox h2{
        font-size: 22px;
    }
    .textBox{
        width: 80%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -0%);
    }
    .textBox p{
        font-size: 16px;
    }
    .Row{
        flex-direction: column;
    }
    .Column{
        margin: 30px 30px;
    }

    .RowProjects{
        margin: 50px 40px;
        display: flex;
        justify-content: space-between;
        background-color: rgb(26, 26, 26);
        box-sizing: border-box;
        border-radius: 10px;
    }

    .next_Arrow {
        width: 30px;
        height: 30px;
    }
    
    .prev_Arrow {
        width: 30px;
        height: 30px;
    }

    .slider{
        width: 100%;
        z-index: 1;
        padding: 20px 12px;
        margin: 0px 0px;
    }
    .flexProjnfo{
        margin: 40px 50px;
        flex-direction: column;
        
    }
    .rulersLogo{
        width: 50vh;
        top: 4vh;
        align-self: center;
        position: relative;
        max-width: 100%;
    }

    .contact-col{
        flex-basis: 48%;
        margin-bottom: 30px;
        width: 90%;
        left: 1%;
        top: 10vh;
        position: relative;
    
    }

    .Contact h1{
        top: 10vh;
        position: relative;
    }

    body {
        overflow-x: hidden;
        width: 100%;
    }
}